%h1 What's going on?

%hr

%div{:class => 'articles-wrapper'}
  - @articles.each do |article|
    %div{:class => 'article'}
      %h1= link_to truncate(article.title, length: 23), article_path(article) 
      %div{:class => 'meta-info'}= article.created_at.to_formatted_s(:dutch_date) + ' | by ' + Author.find(article.author_id).name
      %p= truncate(strip_tags(article.text), length: 234)
      %hr

= will_paginate @articles, renderer: BootstrapPagination::Rails 
