.site-wrapper {
	font-family:Arial;
	font-size:13px;
}
.edit_article {
	p {
		margin-bottom:18px;
	}
	#article_author_id {
		min-width: 120px;
	}
}
.form-control {
	padding: 4px 6px !important;
}
.overview-list {
	padding-left: 4px;
}
span.info {
	font-weight: bold;
	width:80px;
	display:block;
	float:left; 
}
ul.author-articles {
	padding-left: 0;

	> li {
		list-style: none;
	}

	.date {
		margin-bottom: 4px;
		display:block;
		font-style: italic;
	}
	.read-more {
		margin-top: 4px;
		display:inline-block;
		width:auto;
	}
}
.wide-image {
	margin:15px 0;
}
.pagination {
	margin:6px 0 6px 0 !important;
	font-size: 11px !important;
}
.quick-links {
	margin:10px 0 0 0;
}
.meta-info {
	color:#889;
	font-size:11px;
	margin-bottom:5px;
}
.article-detail,
.author-detail {
	position:relative;
}
.edit-link {
	width:20px;
	height:20px;
	background-image: asset-data-url('edit_icon.png');
	position:absolute;
	text-indent: -9999px;
	top:0;
	right:0;
}