body {
	background-color: #046380 !important;
  &.form-control {
		background-color: #fff !important;
	}
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.site-wrapper {
	width:960px;
	margin:20px auto 13px auto;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	border-radius: 3px;
	padding: 25px 20px;
	min-height: 625px;
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Oswald', sans-serif !important;
	color: #002F2F !important;
}
.site-name {
	float:right;
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
	font-size: 19px;
	color:#bbb;
	display: block;
	
	a,
	a:hover {
		text-decoration: none;
		color:#bbb;
	}
}

.copyright {
	font-size:11px;
	color:#ddd;
	width:960px;
	margin:1px auto 15px auto;
	text-align:center;
}
.copyright a,
.copyright a:hover {
	color:#ddd;
}
.red {
	color:red;
}
.green {
	color:green;
}

ul.nav li a {
	color: #046380;
}

.alert {
	margin: 20px 0  0 0 !important;
}

.clear {
	overflow: hidden;
	clear: both;
}

form#new_user {
	input[type="email"],
  input[type="password"] {
		width: 50%;
	}
	input[type="submit"] {
		margin: 12px 0;
	}
}

.alert.alert-alert {
	color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  clear: both;
  margin-top: 50px;
}

.btn {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 300 !important;
	font-size: 16px !important;
}
